@mixin vertical-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

@mixin center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

$breakpoints: (
    sm: 0px,
    md: 768px,
    lg: 1024px,
    xl: 1200px
);

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
    @error "Invalid breakpoint: #{$breakpoint}";
    }
}

@mixin keyframes-animation($name) {
    @-webkit-keyframes #{$name} {
      @content;
    }
    @keyframes #{$name} {
      @content;
    }
}
  
@mixin prefix-property($name, $value) {
    -webkit-#{$name}: $value;
            #{$name}: $value;
}
