$background-color: #1F1F1F;
$border-bottom: 2px solid #2D2B2B;
$color-white: #FFFFFF;
$color-black: #2D2B2B;
$color-purple:#9933FF;

$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;

$font-family: 'Poppins', sans-serif;
$font-family-medium: 'Poppins-Medium', sans-serif;
$font-family-bold: 'Poppins-Bold', sans-serif;