@use "src/styles/_variables.scss" as v;
@use "src/styles/_mixins.scss" as m;

.Home {
    // height: 1076px;
    display:flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;

    &__backsvg{
        aspect-ratio: 1280/784;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        width: 100%;
        height: 95vh;
        max-height: 1700px;
        // height: 92vh;
        // min-height: 800px;
        // max-height: 800px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image:url('../../assets/images/background2.svg') ;

        @include m.respond-to(sm) {
            height: 82vh;
            max-height: 600px;
        }
        @include m.respond-to(md) {
            height: 92vh;
            max-height: 800px;
        }
    }
    &__title{
        margin: 20px 0 20px 0;
        @include m.respond-to(sm) {
            margin: 10px 0 10px 0;           
        }
        &__h1{
            
            line-height: 40px;
            color: v.$color-white;   
  
            @include m.respond-to(sm) {
                font-size: 18px;
                
            }

            @include m.respond-to(md) {
                font-size: 28px;
            }

            @include m.respond-to(lg) {
                font-size: 34px;
            }

            @include m.respond-to(xl) {
                font-size: 40px;
            }
        }
    }
    &__logo_TD{
        

        @include m.respond-to(sm) {
            width: 50%;
            margin:0px;
        }

        @include m.respond-to(md) {
            width: 25%;
            margin:10px;
        }
    }
    &__p{
        line-height: 29px;
        color: v.$color-white;
        margin: 50px 200px 50px 200px;
        font-size: 20px;

        @include m.respond-to(sm) {
            font-size: 14px;
            margin: 20px 40px 20px 40px;
            display:block;
        }

        @include m.respond-to(md) {
            font-size: 16px;
            margin: 50px 200px 50px 200px;
            display:block;
        }

        @include m.respond-to(lg) {
            font-size: 18px;
            display:block;
        }

        @include m.respond-to(xl) {
            font-size: 20px;
            display:block;            
        }
    }
    &__btn{
        min-height: 80px;        
        background-color: transparent;
        border : 2px solid v.$color-purple;
        border-radius: 10px;
        outline: none;
        background: v.$background-color;
        cursor: pointer;
        position: relative;
        z-index: 0;
    
        &:before {
            content: '';            
            background: -webkit-linear-gradient(30deg, v.$color-purple, v.$background-color, v.$color-purple);
            // background: -webkit-linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 200%;
            z-index: -1;
            filter: blur(5px);
            will-change: transform;
            -webkit-filter: blur(5px);
            backdrop-filter: blur(15px);
            -webkit-backdrop-filter: blur(15px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: 20s linear infinite glowing;            
            opacity: 1;
            transition: opacity .3s ease-in-out;
            border-radius: 10px;
            
        }
        &:after {
            z-index: -1;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: v.$background-color;
            left: 0;
            top: 0;
            border-radius: 10px;
        }

        @include m.keyframes-animation(glowing) {
            0% {
              @include m.prefix-property(background-position, 0 0);
            }
            50% {
              @include m.prefix-property(background-position, 400% 0);
            }
            100% {
              @include m.prefix-property(background-position, 0 0);
            }
          }

        @include m.respond-to(sm) {
            margin-top : 10px;
            margin-bottom: 50px;
            width: 70%;
        }

        @include m.respond-to(md) {
            margin-top : 20px;
            margin-bottom: 100px;
            width: 350px;
        }

        @include m.respond-to(lg) {
            margin-top : 30px;
            width: 350px;
        }

        @include m.respond-to(xl) {
            margin-top : 20px;
            width: 350px;
        }

        &__txt{
            font-family: v.$font-family-bold;
            font-size: 30px;
            line-height: 30px;
            color: v.$color-white;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            transition: color 0.5s, border-color 0.5s;
            &:hover{
                color: v.$color-purple;
                              
            }
            
        }

    }
    &__svg_app{
        width: 80%;
        margin-top: 20px;
        margin-bottom: 80px;

        @include m.respond-to(sm) {
            margin-top:0px;
            margin-bottom : 40px;
        }
        @include m.respond-to(md) {
            margin-top:20px;
            margin-bottom : 80px;
        }

    }
    &__section2{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;

        @include m.respond-to(sm) {
            margin-bottom: 10px;
            margin-top:30px;
        }
        @include m.respond-to(md) {
            margin-bottom: 80px;
        }
        &__svg_section2{
            aspect-ratio: 1280/370;
            position: absolute;
            // top:0;
            // left:0;
            z-index: -1;
            width: 100%;
            // height: 45vh;
            max-height: 320px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image:url('../../assets/images/svg_S2.svg') ;
            // @include m.respond-to(sm) {
            //     height: 20vh;
            // }
            // @include m.respond-to(md) {
            //     height: 45vh;
            // }
        }
        &__p{
            line-height: 29px;
            color: v.$color-white;
            margin: 50px 200px 50px 200px;
            font-size: 20px;
            @include m.respond-to(sm) {
                line-height: 10px;
                margin: 0px 10px 0px 10px;
                font-size: 10px;
            }
            @include m.respond-to(md) {
                line-height: 29px;
                margin: 50px 200px 50px 200px;
                font-size: 20px;
            }
        }
        &__h1{
            line-height: 40px;
            color: v.$color-white;   
            font-size: 30px;
            padding-left: 50%;
            @include m.respond-to(sm) {
                line-height: 10px;
                font-size: 10px;
            }
            @include m.respond-to(md) {
                line-height: 40px;
                font-size: 30px;
            }
        }
    }
    &__section3{
        margin: 50px;
        width: 100%;
        img{
            width: 80%;
        }
    }
}