@use "./Styles/variables" as v;
@use "./Styles/mixins" as m;
@use "./Styles/fonts";

.wrapper {
  background-color: v.$background-color;
  color: v.$color-black;
  padding: v.$block-padding;
  
    &__btns {
      @include m.vertical-list;
      button {
        width: v.$btn-width;
        height: v.$btn-height;
      }
    }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: v.$font-family;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: v.$background-color;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
